.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.profile-box {
    text-align: center;
}

.pasfoto {
    width: 150px;
    height: auto; 
    border-radius: 50%;
}