.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; 
}

.profile-box {
    text-align: center;
}

.pasfoto {
    width: 140px;
    height: auto; 
    border-radius: 25%;
}